.App {
  text-align: center;
}

/* temp tweaks, to make a rendered page look like default window size */
html body {  margin: 8px; }
html { width: 820px !important; max-width: 820px !important; outline: 2px solid red; }

/* ----- */

:root {
	--spacing-medium: 4px;
	--spacing-large: calc(var(--spacing-medium) * 3);
	--spacing-extra-large: calc(var(--spacing-large) * 2);
	--border-radius: 5px;
	--dark-blue: #0b64b3;
	--blue: #0d85eb;
	--grey: #888;
	--red: #e00;
	--dark-green: #108c10;
	--green: #0ba50b;
	--black: #010101;
	--light-black: #222222;
	--white: #f1f1f1;
	--plain-white: #fff;
	--tab-text-color: var(--light-black);
	--white-text: var(--white);
	--notification-spinner-size: 20px;

	/* third party */
	--toastify-toast-width: 94%;
	--toastify-toast-min-height: 22px;
}

.Toastify__toast {
	margin: var(--spacing-medium) auto 0 auto;
	padding: 0;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.1), 0 2px 8px 0 rgba(0,0,0,.05);
}

.hidden {
	display: none !important;
}

body {
	font-family: 'Trebuchet MS';
}

kbd,
code {
	font-size: 1.2em;
}

p {
	margin: var(--spacing-large) 0;
}

:focus {
	outline-color: var(--light-black);
}

#reports-container {
	margin-top: var(--spacing-medium);
	text-align: center;
}

.add-workspace,
#add-workspace {
	width: 28px;
	margin-left: 14px;
	background: var(--blue);
	color: var(--white);
	text-align: center;
}

.add-workspace:hover,
.add-workspace:focus,
#add-workspace:hover,
#add-workspace:focus {
	background: var(--dark-blue);
}

#workspaces-bar a,
.add-workspace {
	outline: 2px solid var(--light-black);
	padding: 3px;
	text-decoration: none;
	color: var(--tab-text-color);
}

a.add-workspace {
	background: var(--plain-white);
	outline-color: var(--grey);
}

a.add-workspace:focus,
a.add-workspace:hover
{
	color: var(--white-text);
	outline-color: var(--light-black);
}