#workspaces-bar {
	margin-bottom: var(--spacing-large)
}

#workspaces-bar, #tabs {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-large);
}

#tabs {
	overflow-y: hidden;
	overflow-x: auto;
	padding: 2px;
}

#workspaces-bar {
	width: 100%;
	justify-content: space-between;
}

#workspaces-bar .MuiTab-root {
	padding-bottom: var(--spacing-small) !important;
}

.has-many-workspaces #workspaces-bar {
	display: flex;
}
