:root {
	--spacing-medium: 4px;
	--spacing-large: calc(var(--spacing-medium) * 3);
	--border-radius: 5px;
	--dark-blue: #0b64b3;
	--blue: #0d85eb;
	--grey: #888;
	--red: #e00;
	--dark-green: #108c10;
	--green: #0ba50b;
	--black: #010101;
	--light-black: #222222;
	--white: #f1f1f1;
	--plain-white: #fff;
	--tab-text-color: var(--light-black);
	--white-text: var(--white);
}

.hidden {
	display: none !important;
}

body {
	font-family: 'Trebuchet MS';
}

kbd,
code {
	font-size: 1.2em;
}

p {
	margin: var(--spacing-large) 0;
}

:focus {
	outline-color: var(--light-black);
}

#quick-input-container {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-large);
}

#quick-input-container input,
#quick-input-container button {
	font-size: 24px;
	padding: var(--spacing-medium);
}

#quick-input-container input:focus,
#quick-input-container button:focus {
  	box-shadow: 0 0 0 3px var(--white), 0 0 0 6px var(--blue);
}

#quick-input-container input {
	flex-grow: 1;
}

#pro-tip-container {
	text-align: center;
	color: #888;
	font-size: 0.8em;
}

#pro-tip-container p {
	display: none;
}

#pro-tip-container .visible {
	display: block;
}

#reports-container {
	margin-top: var(--spacing-medium);
	text-align: center;
}

#config-missing-tab {
	text-align: center;
	font-size: 1.2em;
}

#config-missing-tab h1 {
	margin: 0
}

#notification-area-container .notification {
	padding: var(--spacing-medium);
	margin-bottom: var(--spacing-medium);
	border: 1px solid var(--grey);
}

#notification-area-container .error {
	color: var(--red);
	border-color: var(--red);
}

#notification-area-container .error::before {
	content: '😱 '
}

#notification-area-container .success {
	color: var(--green);
	border-color: var(--green);
}

#notification-area-container .success::before {
	content: '✔ '
}

#workspaces-bar {
	margin-bottom: var(--spacing-large)
}

#workspaces-bar, #tabs {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-large);
}

#tabs {
	overflow-y: hidden;
	overflow-x: auto;
	padding: 2px;
}

#workspaces-bar {
	width: 100%;
	justify-content: space-between;
}

#add-workspace {
	width: 28px;
	margin-left: 14px;
	background: var(--blue);
	color: var(--white);
	text-align: center;
}

#add-workspace:hover, #add-workspace:focus {
	background: var(--dark-blue);
}

#workspaces-bar a {
	outline: 2px solid var(--tab-text-color);
	padding: 3px;
	text-decoration: none;
	color: var(--tab-text-color);
}

#workspaces-bar a.active {
	color: var(--white-text);
	background-color: var(--tab-text-color);
}