:root {
	--spacing-medium: 4px;
	--spacing-large: calc(var(--spacing-medium) * 3);
	--blue: #0d85eb;
	--grey: #888;
	--red: #e00;
	--green: #0ba50b;
	--tab-text-color: #222222;
	--white-text: #f1f1f1;

	--notification-spinner-size: 20px;
}

body {
	font-family: 'Trebuchet MS';
}

kbd,
code {
	font-size: 1.2em;
}

p {
	margin: var(--spacing-large) 0;
}

#quick-input-container {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-large);
}

#quick-input-container input,
#quick-input-container button {
	font-size: 24px;
	padding: var(--spacing-medium);
}

#quick-input-container input:focus,
#quick-input-container button:focus {
	outline: 2px solid white;
	box-shadow: 0px 0px 10px 0 var(--blue);
}

#quick-input-container input {
	flex-grow: 1;
}

#pro-tip-container {
	text-align: center;
	color: #888;
	font-size: 0.8em;
}

#pro-tip-container p {
	display: none;
}

#pro-tip-container .visible {
	display: block;
}

#reports-container {
	margin-top: var(--spacing-medium);
	text-align: center;
}

#config-missing-tab {
	text-align: center;
	font-size: 1.2em;
}

#config-missing-tab h1 {
	margin: 0
}

#notification-area-container .notification {
	padding: var(--spacing-medium);
	margin-bottom: var(--spacing-medium);
	border: 1px solid var(--grey);
}

#notification-area-container .error {
	color: var(--red);
	border-color: var(--red);
}

#notification-area-container .error::before {
	content: '😱 '
}

#notification-area-container .success {
	color: var(--green);
	border-color: var(--green);
}

#notification-area-container .success::before {
	content: '✔ '
}

.loader {
	width: var(--notification-spinner-size);
	height: var(--notification-spinner-size);
	border: 4px solid var(--grey);
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	margin-right: var(--spacing-medium);
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#workspaces-bar {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-large);
	margin-bottom: var(--spacing-medium)
}

#workspaces-bar a {
	outline: 2px solid var(--tab-text-color);
	padding: 3px;
	text-decoration: none;
	color: var(--tab-text-color);
}

#workspaces-bar a.active {
	color: var(--white-text);
	background-color: var(--tab-text-color);
}